logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

.env
.env.*
!.env.example
*.env
.env.local
.env.development
.env.production
.env.test

scripts/output/
.cache
coverage
.vercel
/playwright-report/
/test-results/
/test-results.json
